@font-face {
   font-family: 'Berlin Sans FB Demi Bold';
   font-display: swap;
   src: url('file:///C:/Users/BRZOZA/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-26_165614/fonts/Berlin%20Sans%20FB%20Demi%20Bold/font.ttf');
}
